 body {
     margin: 0;
 }

 h1 {
     text-align: center;
     color: white;
 }


 ul li {
     display: inline;
     margin-right: 20px;
     color: white;
     text-align: right;

 }


 li {
     font-size: 20px;

 }


 .container {
     color: black;

 }


 .two {
     font-family: Arial, sans-serif;
     padding-left: 20px;
     padding-top: 5px;
     padding-bottom: 15px;

 }


 .textcolor {
     background-color: #6a1b9a;
     text-align: center;
     font-family: Arial, sans-serif;
     padding-top: 16px;
     padding-bottom: 16px;
     margin-top: 15px;

 }


 #black {
     color: white;
 }


 header {
     background-color: #6a1b9a;
     padding: 14px 0px 14px 0px;
     text-align: center;
     width: 100%;
     font-family: Arial, sans-serif;
 }


 .one {
     height: 200px;
     width: 97%;
     margin-left: 20px;
     margin-right: 20px;
     margin-top: 25px;
     padding-top: 24px;
     padding-bottom: 140px;
     padding-right: px;
     border-radius: 7px;
     box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;

 }